@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;400;500;600;700&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

ul,
ol {
  @apply px-[25px] py-[2px];
}

body {
  @apply bg-primary-light dark:bg-primary-dark dark:text-secondary-light;
}

.maxWidth {
  @apply max-w-[1280px] mx-auto;
}

.form-input {
  @apply w-full rounded border-primary border-[1px] shadow-sm py-1.5 px-2;
}

.form-container-sec {
  @apply py-5 my-5;
}

.form-container-sec h2 {
  @apply text-2xl font-semibold;
}

.form-card {
  @apply border-primary-border border-[1px] rounded p-4 pt-3 my-2;
}

/*--- SCROLLBAR THIN -------------------------------------------------*/
* {
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  @apply bg-primary-light w-[6px];
}

*::-webkit-scrollbar-thumb {
  @apply bg-[rgba(0,0,0,0.2)] rounded-full;
}

.scrollbar-hidden::-webkit-scrollbar-thumb {
  @apply bg-transparent;
}

.scrollbar-hidden:hover::-webkit-scrollbar-thumb {
  @apply bg-[rgba(0,0,0,0.2)];
}

/*--- A4 SIZE CV PREVIEW CONTAINER ------------------------------------------------*/
.a4-container {
  @apply bg-red-200 h-full w-full;
}

.pdf-preview-container {
  @apply aspect-[1/1.36] bg-green-400 absolute w-[480px] overflow-hidden left-[50%] translate-x-[-50%] scale-[0.6] sm:scale-[0.65] md:scale-[0.79] lg:scale-[1];
}
