@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

*,
html {
  scroll-behavior: smooth;
}

ul,
ol {
  @apply px-[25px] py-[2px];
}

body {
  @apply bg-light dark:bg-primary-dark dark:text-secondary-light;
}

.nav-list {
  @apply flex justify-center sm:gap-8 list-none;
}

.nav-item {
  @apply cursor-pointer hover:text-secondary duration-150 ease-in;
}

.maxWidth {
  @apply max-w-[1280px] mx-auto px-2 xs:px-3;
}

.sec-title {
  @apply text-primary text-center font-bold text-[26px] sm:text-[30px] leading-[1.3] py-6;
}

/*--- SCROLLBAR THIN -------------------------------------------------*/
* {
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  @apply bg-primary-light w-[6px];
}

*::-webkit-scrollbar-thumb {
  @apply bg-[rgba(0,0,0,0.2)] rounded-full;
}

.scrollbar-hidden::-webkit-scrollbar-thumb {
  @apply bg-transparent;
}

.scrollbar-hidden:hover::-webkit-scrollbar-thumb {
  @apply bg-[rgba(0,0,0,0.2)];
}

/*--- Create Resume Form styles ------------------------------------------------- */
.form-input {
  @apply w-full focus:outline-secondary outline-none outline-[2px] duration-150 ease-in shadow-sm py-3 px-4 rounded-[10px] text-[12] xs:text-[14px];
}

.form-container-sec {
  @apply py-5 my-5 text-primary text-[14px];
}

.form-card {
  @apply border-[30335F] border-[2px] rounded-[10px] p-4 pt-3 my-2;
}

.skill-item {
  @apply bg-orange-200 text-red-600 rounded-[4px] flex-shrink-0;
}

.skill-item__icon {
  @apply cursor-pointer w-6 text-primary hover:text-red-600 duration-150 ease-in;
}

.skill-item__add-btn {
  @apply absolute top-0 right-0 text-blue-600 bg-blue-100 h-full w-6 flex items-center justify-center rounded-r-[2px] border-primary border-l-0 border-[1px] cursor-pointer duration-150 hover:bg-blue-200 ease-in;
}

.form-container-sec .form-header {
  @apply text-[2px] sm:text-[28px] leading-[1] font-bold mb-1;
}

/*--- CK Editor styles  -----------------------------------------------------------*/
.ck-rounded-corners .ck.ck-editor__top .ck-sticky-panel .ck-toolbar,
.ck.ck-editor__top .ck-sticky-panel .ck-toolbar.ck-rounded-corner {
  @apply !rounded-t-[10px] !border-none;
}

editor[role="application"] .ck.ck-content,
.ck.editor__editable[role="textbox"],
.ck.ck-editor__editable[role="textbox"],
.ck.editor[role="textbox"] {
  @apply !overflow-y-auto !rounded-b-[10px] duration-150 ease-in border-none focus:!border-[2px] focus:!border-secondary !mt-1;
}

/*--- A4 SIZE CV PREVIEW CONTAINER ------------------------------------------------*/
.pdf-preview-container {
  @apply aspect-[1/1.41] absolute w-[480px] top-0 sm:-top-10 lg:top-0 left-[50%] translate-x-[-50%] scale-[0.6] sm:scale-[0.65] md:scale-[0.79] lg:scale-[1];
}

.a4-container {
  @apply bg-white h-full w-full py-[30px] overflow-y-auto;
}
