@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;400;500;600;700&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

ul,
ol {
  @apply px-[25px] py-[2px];
}

body {
  @apply bg-primary-light dark:bg-primary-dark dark:text-secondary-light;
}

.maxWidth {
  @apply max-w-[1280px] mx-auto px-2;
}

.form-input {
  @apply w-full rounded border-primary border-[1px] shadow-sm py-1.5 px-2;
}

.form-container-sec {
  @apply py-5 my-5;
}

.form-container-sec h2 {
  @apply text-2xl font-semibold;
}

.form-card {
  @apply border-primary-border border-[1px] rounded p-4 pt-3 my-2;
}

.skill-item {
  @apply bg-orange-200 text-red-600 rounded-[4px] flex-shrink-0;
}

.skill-item__icon {
  @apply cursor-pointer w-6 text-primary hover:text-red-600 duration-150 ease-in;
}

.skill-item__add-btn {
  @apply absolute top-0 right-0 text-blue-600 bg-blue-100 h-full w-6 flex items-center justify-center rounded-r-[2px] border-primary border-l-0 border-[1px] cursor-pointer duration-150 hover:bg-blue-200 ease-in;
}

/*--- SCROLLBAR THIN -------------------------------------------------*/
* {
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  @apply bg-primary-light w-[6px];
}

*::-webkit-scrollbar-thumb {
  @apply bg-[rgba(0,0,0,0.2)] rounded-full;
}

.scrollbar-hidden::-webkit-scrollbar-thumb {
  @apply bg-transparent;
}

.scrollbar-hidden:hover::-webkit-scrollbar-thumb {
  @apply bg-[rgba(0,0,0,0.2)];
}

/*--- A4 SIZE CV PREVIEW CONTAINER ------------------------------------------------*/
.pdf-preview-container {
  @apply aspect-[1/1.41] absolute w-[480px] top-0 sm:-top-10 lg:top-0 left-[50%] translate-x-[-50%] scale-[0.6] sm:scale-[0.65] md:scale-[0.79] lg:scale-[1];
}

.a4-container {
  @apply bg-white h-full w-full p-[30px] overflow-y-auto;
}
